<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle toggle-left" type="button" ng-click="toggleLeftmenu()" ng-class="{invisible: !teams.exist}">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">team-analyzer</a>
      <button class="navbar-toggle toggle-right" type="button" ng-click="toggleHeadermenu()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse">
      <div collapse="isCollapsed" class="collapse" id="navbar-main">
        <ul class="nav navbar-nav navbar-right toggle-right">
          <li>
            <input type="text" ng-model="selectedClub" placeholder="Verein suchen" typeahead="club as club.label + '  (' + club.strKurzbezeichnung + ')' for club in getClubs($viewValue)" typeahead-min-length="2" typeahead-on-select="selectClub($item, $model, $label)" typeahead-loading="loadingLocations" class="form-control" style="margin-top: 8px; margin-right: 15px;" focus-on="selectClub"> 
            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh spinner-position rotating"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
